{% extends "_layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
      <div class="bg-info">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div class="container-fluid">
<h2>Login Page</h2>
<hr/>
<div class="d-flex form-group">
  <form class="m-auto w-50" action="{{ url_for('users.login') }}" method="POST">
    <div class="form-group">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="m-3">
            <label for="username">Username:</label>
            <input type='text' name='username' class="form-control" />            
        </div>
        <div class="m-3">
            <label for="password">Password:</label>
            <input type='text' name='password' class="form-control" />
        </div>
        <div class="d-flex flex-wrap justify-content-center m-3">
          <button type="submit" class="btn btn-dark m-2">Login</button>
        </div>
    </div>
  </form>
</div>
<hr/>
<form class="text-center" action="{{ url_for('users.google_login') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <button type="submit" class="btn btn-dark m-2">Login with Google</button>
</form>
</div>
{% endblock %}