{% extends "_layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class=flashes>
        {% for message in messages %}
            <div class="bg-info">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<h3>Sign up Form</h3>
<hr/>
<div class="container-fluid">
    <div class="d-flex form-group">
        <form class ="m-auto w-50" action="{{ url_for('users.create') }}" method="POST">
            <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="username">Username:</label>
                <input type='text' name='username' class="form-control mb-2" />            
                <label for="password">Password:</label>
                <input type='text' name='password' class="form-control mb-2" />
                <label for="email">Email address:</label>
                <input type='text' name='email' class="form-control mb-2" />
                <button type="submit" class="btn btn-dark">Sign Up</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}