{% extends "_layout.html" %}
{% block content %}
    <script src="https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js"></script>
    
    <div class="container-fluid">
        <h2>Donate</h2>
        <hr/>
        <div class="d-flex form-group align-items-center mt-2">
            <form id="nonce-form" class="m-auto" action="{{ url_for('images.pay', images_id=images_id) }}" method="POST">
                <label for="amount">How much you would like to donate:</label>
                <input id="amount" class="form-control" type="text" name="amount">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input id="nonce" type="hidden" name="nonce"/>
                <!-- Step one: add an empty container to your page -->
                <div id="dropin-container"></div>
                <button id="pay" type="submit" class="btn btn-dark">Donate</button>
            </form>
        </div>
    </div>
         
    <script type="text/javascript">
    // call `braintree.dropin.create` code here
    braintree.dropin.create({
    // Step three: get client token from your server, such as via
    //    templates or async http request
    authorization: "{{ token }}",
    container: '#dropin-container'
    },
    (error, dropinInstance) => {
        document.querySelector("#pay").onclick= () => {
        dropinInstance.requestPaymentMethod((error, payload) => 
            {
                console.log(error)
                document.querySelector("#nonce").value= payload.nonce
                document.querySelector("#nonce-form").submit()
            }
        )}
    })
    </script>
{% endblock %}